@charset "utf-8";
.site-nav{background: #f5f5f5;width: 100%;border-bottom: 1px solid #eee;margin-bottom: 40px;}
.site-nav-box{width: 1190px;height: 35px;margin:0 auto;}
.site-nav-box-l{float: left;}
.site-nav-menu{float: left; }
.site-nav-menu-hd{height: 35px;line-height: 35px;padding: 0 6px; float: left;}
.site-nav-menu-hd a{color: #6c6c6c;float: left;margin-right: 7px;}
.site-nav-menu-hd a:hover{color: #f40;}
.site-nav-pipe{float: left;height: 35px;line-height: 35px;}
.site-nav-box-r{float: right;}
.site-nav-icon{margin-right: 5px;display: block;float: left;}
.iconcolor{color: rgb(200, 22, 35)!important; float: left;}
.site-nav-menu-bd{position: relative; z-index: 10004;}
.site-nav-menu-bd .site-nav-menu-bd-panel{ _clear: both;position: absolute;left: 0px;top: 35px;border: 1px solid #eee;padding:10px 0px;  z-index: 99999; background: #fff;_top: 0;}
.site-nav-menu-bd .site-nav-menu-bp a{display:block;text-align: center;line-height: 28px;color: #6c6c6c;padding: 0 5px;}
.site-nav-menu-bd .site-nav-menu-bp a:hover{background: #f5f5f5;}
.site-nav-menu-cir{width: 296px;height: 40px;}
.site-nav-menu-bd-panel .site-nav-cart p{text-align: right;margin-top: 8px;}
.site-nav-menu-cir a{color:#fff;border-radius: 2px;margin-right:10px;vertical-align: middle;white-space: nowrap;display: inline-block;padding:5px;background: #f40;}
.site-nav-menu-panel{ _clear: both; overflow: hidden;border: 1px solid #eee;position: absolute; width: 1188px;min-height: 258px;  z-index: 99999; background: #fff; right: 0px; top: 35px;  _top:0;}
.site-nav-menu-panel .brn{border-right: none;}
.site-nav-menu-panel-box{overflow: hidden;float: left;width: 25%;}
.site-nav-menu-panel-box-wrap{padding:5px;border-right:1px solid #eee;}
.site-nav-menu-panel-box-wrap h3{margin:5px;font-weight: bold;font-size: 16px;}
.site-nav-menu-panel-box-wrap li{ height: 25px;padding-top: 5px;overflow: hidden;float: left;}
.site-nav-menu-panel-box-wrap li a{position: relative;line-height: 25px;overflow: hidden;float: left;margin:0 3px;padding:0 8px;color: #3c3c3c;}
.site-nav-menu-panel-box-wrap li a:hover{border-radius:4px;}
.site-nav-menu-panel-box-wrap li a i{height: 15px;top: 0px;left: 30px;position: absolute;width: 15px;background: url(../images/hot.gif) no-repeat;display: block;}
.site-nav-menu-panel .box-theme li{width: 25%;}
.site-nav-menu-panel .box-theme h3{color: #fc4200;}
.site-nav-menu-panel .box-theme li a:hover{color: #fff;background: #f40;}
.site-nav-menu-panel .box-mark li{width: 33%;}
.site-nav-menu-panel .box-mark h3{color: #9fb838;}
.site-nav-menu-panel .box-mark li a:hover{color: #fff;background: #9fb838;}
.site-nav-menu-panel .box-mark li{width: 33%;}
.site-nav-menu-panel .box-mark h3{color: #9fb838;}
.site-nav-menu-panel .box-mark li a:hover{color: #fff;background: #9fb838;}
.site-nav-menu-panel .box-app li{width: 33%;}
.site-nav-menu-panel .box-app h3{color: #d75696;}
.site-nav-menu-panel .box-app li a:hover{color: #fff;background: #d75696;}
.site-nav-menu-panel .box-recommend li{width: 49%;}
.site-nav-menu-panel .box-recommend h3{color: #2e9fdb;}
.site-nav-menu-panel .box-recommend li a:hover{color: #fff;background: #2e9fdb;}

.site-header{ width: 1190px; margin:0 auto; }
.site-header-logo{ width: 362px; float: left; height: 60px; padding: 20px 0; }
.site-header-logo a{ display: block; width: 270px; height: 60px; background: url(../images/site-logo.png) no-repeat; }
.site-header-search{ height: 100px; float: left; }
.site-header-search .search-box-form{ margin-top: 20px; }
.site-header-search .search-box-form .text{color: rgb(153, 153, 153); padding:4px;float: left; width: 446px; height: 24px; line-height: 24px; font:14px "Microsoft YaHei"; border-color: #B61D1D; border-style: solid; border-width: 2px 0 2px 2px; }
.site-header-search .search-box-form .btn{ cursor: pointer;border: none; float: left; width: 82px; height: 36px; background:#B61D1D; color: #fff; font: 16px "Microsoft YaHei"; }
.site-header-search .search-box-form .btn a { color: #fff; }
.site-header-search .search-box-menu {margin-top: 5px;width: 518px;height: 20px;line-height: 20px;}
.site-header-search .search-box-menu a{ color: #C81623; margin-right: 5px; white-space: nowrap;}

.site-footer { width: 100%; }
.site-footer a { color: #666!important; }
.site-footer a:hover { color: #e4393c!important; }
.footer-ad { padding: 20px 0; background: #f5f5f5; margin: 14px 0; }
.footer-ad .ad-item { float: left; height: 54px;  width: 24%; text-align: center;}
.footer-menu ,.footer-panel { width: 1210px; margin: 0 auto 20px; }
.footer-menu dl { float: left; width: 199px; }
.footer-menu dt { font:400 16px/24px "microsoft yahei"; padding: 6px 0; }
.footer-menu dd { line-height: 20px; }
.footer-menu .f-detail { text-align: right; }
.footer-menu .footer-menu-item5 { width: 100px!important; }
.footer-menu .footer-menu-item6 { text-align: center; float: right; width: 310px; height: 168px; background: url(../images/pic-ditu.png) no-repeat 60px -131px; }
.footer-menu .footer-menu-item6 dt { padding:6px 40px 15px 80px; }
.footer-menu .footer-menu-item6 dd { padding:0 40px 15px 80px; }
.footer-panel { text-align: center; padding:20px 0 30px 0; border-top: 1px solid #e5e5e5; }
.footer-panel .links a { margin: 0 10px; display: inline-block; }
.footer-panel .copyright { margin-top: 10px; }
.footer-panel .copyright p { line-height: 24px; }
.footer-panel .copyright a { margin:0 5px; }
.footer-panel .copyright a img { vertical-align: middle; }
.footer-panel .copyright .copy-item5 { margin-top: 10px; }

.site-toolbar { height: 100%; position: fixed; top: 0; right: 0; border-right: 6px solid #7a6e6e; }
.site-toolbar-box { position: absolute; top: 30%; right: 0px;z-index: 10001; }
.site-toolbar a { border-radius: 3px; margin-top: 2px; display: block; width: 35px; height: 35px; background-color: #7a6e6e!important; position: relative;}
.site-toolbar em { border-radius: 3px; left: 41px; width: 65px; height: 35px; line-height: 35px; color: #fff ; position: absolute; background-color: #7a6e6e!important; text-align: center; z-index: 99999!important; }
.site-toolbar .toolbar-item1  { background: url(../images/toolbars.png) no-repeat -88px -175px;  }
.site-toolbar .toolbar-item2  { background: url(../images/toolbars.png) no-repeat -50px 0px;  }
.site-toolbar .toolbar-item3  { background: url(../images/toolbars.png) no-repeat -50px -50px;  }
.site-toolbar .toolbar-item4  { background: url(../images/toolbars.png) no-repeat -50px -100px;  }
.site-toolbar .toolbar-item5  { background: url(../images/toolbars.png) no-repeat -190px -150px;  }
.site-toolbar .toolbar-item6  { background: url(../images/toolbars.png) no-repeat -50px -150px;   }
.site-toolbar .toolbar-item7  { margin-top: 100px;  background: url(../images/toolbars.png) no-repeat -50px -250px;   }
.site-toolbar .toolbar-item8  { background: url(../images/toolbars.png) no-repeat -50px -300px; }
#scroll-search { _position:absolute; ; width: 100%; background: #f9f9f9; display: none; position: fixed; left: 0px; top: 0px; z-index: 10012; height: 46px;}
#scroll-search .site-header-search{ height: auto; float: none; }
#scroll-search .site-header-search .search-box-form { margin:5px auto; width: 538px; }


