@charset "utf-8";
.header { width: 1190px; margin:0 auto; font-family: "Microsoft YaHei","Hiragino Sans GB"; }
.header { height: 80px; }
.logo { margin:12px 0 0 85px;float: left;width: 170px; height: 60px; background: url(../images/site-logo.png) no-repeat; }
.header h1{ float: left; font-size: 24px; color: #666; font-weight: 500; margin: 25px 0px 0px 25px;}
.main{ height: 475px; background: #e93854; width: 100%; color: #666;}
.box { width: 999px; height: 475px; margin: 0 auto; background: #e93854 url(../images/login-bg.png) no-repeat 0px 0px; }
.panel { width: 306px; float: right; background: #fff; margin-top: 40px; padding: 20px; }
.panel-top { font-size: 14px;  }
.panel-top h1 { float: left; height: 27px; line-height: 27px; color: #666; font-size: 16px; }
.panel-top a { position: relative; width: 77px; float: right; color: #b61d1d;}
.panel-top a i { margin-top: 5px; float: left;width: 16px; height: 16px; background: url(../images/pwd-icons-new.png) no-repeat -104px -75px; }
.panel-top a span { float: right; }
.panel-tip { margin:2px 0 10px;position:relative; border: 1px solid #ffe57d; background: #fff6d2; height: 25px; line-height: 25px; }
.panel-tip .deng{ display: block; position: absolute; top: 22%; left: 10px; width: 16px; height: 16px; background: url(../images/pwd-icons-new.png) no-repeat -104px -22px; }
.panel-tip p { text-align: center; color: #666;}
.form {}
.form .input { overflow: hidden; z-index: 6;position: relative;; width:304px; height: 38px; border: 1px solid #bdbdbd; margin-bottom: 20px; }
.input label { z-index: 4;background: url(../images/pwd-icons-new.png) no-repeat; position: absolute; left: 0px; top: 0px; ;width: 38px; height: 38px; border-right: 1px solid #bdbdbd; }
.input .password { background-position: -48px 0px!important; }
.input .text { width:  234px; height: 18px; padding:11px 20px 11px 50px; }
.input-tips {margin-bottom: 18px;}
.input-tips .check { vertical-align: middle;}
.input-tips a { color: #666; float: right; }
.submit { border:1px solid #cb2a2d;margin-bottom: 18px;}
.input-btn { display: block; cursor: pointer; border: 1px solid #e85356; font-family: "Microsoft YaHei"; font-size: 20px; letter-spacing: 5px; color:#fff; width: 302px; height: 31px; line-height: 31px; text-align: center; background: #e4393c; }
.panel-link p{ margin-bottom: 5px; }
.pannel-item a{ color: #666; margin:0 15px; }
.pannel-item a:hover{color: rgb(228, 57, 60);}
.pannel-item .money{ margin-left: 0px; }
.footer {  color: #999; font-size: 12px; height: 119px; border-top: 1px solid #e6e6e6; text-align: center; }
.links { margin-top: 30px; margin-bottom: 15px; }
.links a { color: #666; margin: 0 10px; }
