@charset "utf-8";
.header { height: 110px; background: url(../images/headbg.jpg) repeat-x center bottom; }
.header-box, .footer, .container { width: 1190px; margin:0 auto; font-family: "Microsoft YaHei","Hiragino Sans GB"; }
.header-box .header-logo { background: url(../images/icon.png)  no-repeat; margin-top: 24px; height: 50px;width: 160px; float: left;  }
.header-title { letter-spacing: 8px; margin-left: 30px; margin-top: 30px; font-size: 18px; line-height: 34px; float: left; height: 34px; padding-left: 25px; border-left: 1px solid #bbb;  }
.header-login { float: right; color: #999; font-size: 16px; line-height: 36px; margin-top: 45px; }
.header-login a{ color:#000; }
.container { width: 1190px; margin:45px auto; }
.container .container-form{ display: inline; float: left; margin-left: 180px; width: 400px;}
.container-form .inp{ height: 52px;position: relative;width:398px; border:1px solid #ddd; font-size: 16px; }
.container-form .inp .input{  width: 190px; height: 19px; font-size: 14px; padding:16px 0 11px 20px;}
.inp label { padding-left: 20px;float: left; height: 52px; line-height: 52px; margin-right: 20px; color:#666; font-size: 14px; }
.inp span { position: absolute;left: 150px;top: 15px;font-size: 14px; color: rgb(204, 204, 204);}
.input-tip { position: relative;height: 35px; line-height: 35px; text-indent: 20px;font-size: 12px; color: #e22; }
.icon-succ { width: 16px; height: 16px; background: url(../images/icon.png) no-repeat 0px -117px; position: absolute; right: 20px; top: 20px; }
.red { color: #e22; }
.checkcode { font-size: 14px;line-height: 45px;text-align: center;color: #333;width: 110px;height: 45px;background: #eee;position: absolute;right: 4px;top: 4px;}
.inp-agreen { color: #333; font-size: 12px; margin-bottom: 30px; }
.inp-agreen input {width: 18px; height: 18px; border: 1px solid  #cfd1d3; margin-right: 10px; vertical-align: middle; }
.inp-agreen a { color: #38f; }
.regist { cursor: pointer; width: 100%; height: 54px; background: #e22; color: #fff; font-size: 16px; border: 0 none; font-family: "Microsoft YaHei","Hiragino Sans GB"}
.container-right{ border-left: 1px solid #e6e6e6; margin-left: 104px; padding-left: 90px; ;float: left; height: 605px; }
.container-right-logo{ background: url(../images/phone.jpg) no-repeat; width: 213px;height: 270px;  }
.reg-logo a { margin:30px 0 0 30px;display: block; width: 160px; height: 30px; color: #666; }
.reg-logo a:hover{ cursor:pointer; color: #000; font-weight: bold; }
.reg-logo .company { border-bottom: 1px solid #ddd; padding-bottom: 30px;  }
.reg-logo a i { vertical-align:text-bottom; width: 30px; height: 29px; background: url(../images/icon.png) no-repeat;  display: inline-block; margin-right: 15px; }
.reg-logo a span{display: inline-block;}
.reg-logo .icon-company {  background-position: 0 -50px;  }
.reg-logo .icon-nation { background-position: -50px -50px; }
.footer {  color: #999; font-size: 12px; height: 119px; border-top: 1px solid #e6e6e6; text-align: center; }
.links { margin-top: 30px; margin-bottom: 15px; }
.links a { color: #999; margin: 0 10px; }
