@charset "utf-8";
.shoplist-header ,.shoplist-main,.shoplist-page{ width: 1210px; margin:0 auto; }
.shoplist-header { height: 300px; margin-bottom: 10px; }
.shoplist-header  .search-result { height: 30px; line-height: 30px; padding:10px 0;  }
.search-result strong { margin-left: 5px; }
.search-catgroy {  border:1px solid #ddd; position: relative; overflow: hidden; background: #f3f3f3;}
.search-catgroy h3{ float: left; width: 100px; padding-left: 10px;}
.search-catgroy ul { padding-left: 10px; background: #fff; margin-left: 110px; margin-right: 130px; }
.search-catgroy ul  li{ float: left; width: 130px; height: 26px; line-height: 26px; margin:0px 5px 4px 0;}
.search-catgroy ul  li a { color: #666; }
.search-catgroy .search-btn { width: 110px; position: absolute; right: 10px; top: 5px; line-height: 22px; }
.search-btn a { color: #666; text-align: center; margin-right: 10px ;float: left; ;width: 39px; height: 23px; background: #fff; border: 1px solid #ddd; }
.shoplist-main-sidebar { width: 180px; float: left; }
.promgoods { border:1px solid #ddd; }
.promgoods h3 { line-height: 36px; padding-left: 10px; margin-bottom: 10px;}
.promgoods ul { padding:0 10px; }
.promgoods ul li {margin-bottom: 20px; }
.promgoods .goods-img { margin-bottom: 10px; }
.promgoods .goods-prices { height: 20px; line-height: 20px; padding:0 10px; margin-bottom: 10px; font-size: 14px;  }
.promgoods .goods-title { padding: 0 10px; height: 36px; line-height: 18px; overflow: hidden; }
.promgoods .goods-title a { color: #666; }
.promgoods .goods-title a:hover { color: #C81623; }
.promgoods .goods-comment { padding: 8px 10px 0; }
.goods-comment span { color: #005aa0; }
.shoplist-main-content { float: right; width: 1020px; height:auto;}
.content-topbar { border:1px solid #E7E3E7; padding:6px 8px; background: #F1F1F1; }
.topbar-menu,.topbar-search{ float: left; }
.topbar-menu { margin-right: 24px; }
.topbar-menu a { color: #333; display: block; float: left; border:1px solid #ddd;  background: #fff; margin-right: -1px; padding:0 10px; line-height: 23px; }
.shoplist-active { color: #fff!important; background: #e4393c!important;  border-color: #e4393c!important; }
.topbar-search input { float: left ; width: 108px; color: #999; height: 17px; line-height: 17px;border: 1px solid #CCC; padding: 3px; background: #fff; color: #999;}
.topbar-search a { border:1px solid #ccc; float: left;  color: #333; margin-left: -1px; padding: 2px 13px 3px;}
.tobar-total { float: right; height: 25px; line-height: 25px; margin-right: 10px; color: #999 ; }
.tobar-total span { color: #666; font-family: verdana; }
.tobar-num { float: right; width: 150px; }
.tobar-num a { margin-left: -1px; border:1px solid #ddd;  float: right; width: 46px; height: 23px; background: #fff;text-align: center; line-height: 23px; font-size: 16px; font-family: "\5b8b\4f53"; }
.tobar-num .right-bar { background: #ccc; }
.tobar-num span { margin-right: 10px; line-height: 23px; }
.tobar-num em {     color: #e4393c; font-weight: 700; }
.tobar-num .num-page1 { float: left; }
.tobar-num .num-page2 { float: right; }
.content-panel { width:  1000px; margin:0 auto; }
.content-panel li {  height: 400px; float: left; width: 220px; margin:10px 15px 10px 15px; }
.content-panel .pa-img {  }
.content-panel .pa-prices span { color: #e4393c; font-size: 20px; font-weight: 400;font-family: Verdana; }
.content-panel .pa-title { height: 20px; line-height: 20px; margin-bottom: 6px; }
.content-panel .pa-title a { color: #666; }
.content-panel .pa-comments a{     color: #005aa0; font-family: verdana; font-weight: 700; }
.shoplist-page { margin-bottom: 10px; }
.page-num { float: right; text-align: center; margin-right: 130px;margin-top: 20px;}
.shoplist-page a { background: #f7f7f7; margin-right: 5px; font-size: 14px; height: 36px;line-height: 36px;padding: 0 14px; float: left; border:1px solid #ddd; color: #333; }
.selected-page { border:0 none!important; background: 0 none!important;}
.shoplist-page span { padding: 0 8px; height: 36px; line-height: 36px; float: left; font-size: 14px; display: block;text-align: center;}
.shoplist-page input { float: left; width: 30px;height: 30px;margin: 0 3px;line-height: 30px;font-size: 14px;text-align: center; border: 1px solid #CCC; padding:3px;}