*{margin:0;padding:0;}
input{border:none;}
img{border: 0;}
body{background:#dedede;font-family: #dedede;}
header {width: 100%;height: 60px;line-height: 60px;background: #333 url(../images/header_logo.png) no-repeat 38px center;}
header ul{float: right;margin-right: 25px;}
header ul li{font-size: 12px;float:left;color:#fff;font-weight: bold;margin-left: 20px;}
header li.active{color: #959096;}
article{padding:50px 20px;margin:20px;background:#fff;border:1px solid #9f9f9f;}
article h1{margin-bottom:20px;}
article h2{font-size: 16px;margin-bottom: 18px; color:#5e6e6b;}
article p{font-size: 14px;color: #311404;font-weight:bold;}
article p.auth_time{font-size: 10px;color:#bbbcae;margin-bottom: 20px;}
article p.art{text-indent: 2em;line-height: 200%;}
article p.art1{line-height: 200%;margin-bottom:20px;}
article img{margin-bottom:20px;}
article .ul_ol{list-style: none;font-weight: bold;font-size: 14px;line-height:180%;}
section {padding:50px 20px;margin:20px;background:#fff;border:1px solid #9f9f9f;}
section dl dt{font-size: 16px;font-weight: bold;margin-bottom: 25px;}
section dl dd{margin-left: 35px;width: 125px;padding: 10px;border: 1px #cecece solid;margin-bottom: 15px;}
section dl dd p {line-height: 50px;text-align: center;}
section img{width: 100px;height: 100px;margin:0 auto;display: block;}
article ol{margin-left: 20px;font-weight: bold;font-size: 14px;line-height:180%;margin-bottom: 20px;}
article .tab{border:1px #ccc solid;border-collapse:collapse;}
article .tab  thead th{text-align: left;text-indent: 10px;line-height:180%;border:1px #ccc solid;}
article .tab  tbody td{text-indent: 10px;line-height:180%;border:1px #ccc solid;}
article td.td1{width: 500px;}
article td.td2{width: 200px;}
article .tab thead{background: #333;color: #fff;}
article .tab tfoot{background: #ccc;}
article .tab tfoot{}
aside {font-size: 12px;padding: 20px;margin:50px 20px 20px 50px; background: #fff;border: 1px solid #9f9f9f;}
aside h2.aside_h2{margin-bottom: 30px;font-size: 16px;padding-left: 20px;background: url(../images/p_log.png) no-repeat left center;}
aside .lable_email{margin-left: 260px;margin-bottom: 10px;}
aside input{border: 1px solid #ccc;padding: 3px;margin-bottom: 10px;}
aside p.p_email{margin-left: 360px;color: #bac2c4;margin-bottom: 25px;}
aside .input1{margin-bottom: 15px;}
aside label.password{margin-left: 284px;}
aside label.repassword{margin-left: 260px;}
aside label.city_sex_hobby{margin-left: 315px;margin-bottom: 15px;}
aside label.profile{margin-left: 305px;}
aside button{border-radius: 6px;margin-left: 30px;color:#fff;width: 1180px;height: 40px;background: #3355d0;margin-top: 10px;}
footer {height: 70px;background: #000;line-height: 70px;}
footer p{color: #fff;text-align: center;}