table{ border-collapse:collapse;}
tr:nth-child(odd){
	background: #ccc;
}
table .tr-item{background: #000;color: #fff;
	
}
.active{
	color: red;
}
input {
	border: 1px solid #ccc;margin-left:500px;
	width: 100px;
	transition:width  2s;
	-moz-transition:width  2s;
	-webkit-transition:width  2s;
	-o-transition:width 2s;
}
input:focus{
	width: 300px;
}
@keyframes myani{
	%0{
		width: 20px;
	}
	%50{
		width: 40px;
	}
	%100{
		width: 80px;
	}
}
