@charset"utf-8";
.site-header { width: 990px; margin: 0 auto; }
.container { width: 100%; }
.container a { color:#e4393c; } 
.cart-header, .cart-box, .cart-box-footer, .cart-love{ width: 990px; margin: 10px auto; }
.cart-header .count{ float: left; font-size: 16px; font-weight: 700; }
.cart-header .deliver { float: right; }
.deliver .deliver-label { float: left; line-height: 26px; }
.deliver .deliver-box { position: relative; float: left; border: 1px solid  #CECBCE; height: 23px; line-height: 23px; padding:0 20px 0 4px; }
.deliver-box .icon-xia { background: url(../images/icon-xia.png) no-repeat; ; right: 0; top: 0; width: 17px; height: 24px;  position: absolute; }

.cart-box {}
.cart-box-bar { margin-bottom: 40px; padding:5px 0; ; border: 1px solid #e9e9e9; height: 32px; line-height: 32px; background: #f3f3f3; }
.cart-box-bar li { float: left; }
.checkall { padding-left: 10px; width: 122px; position: relative; }
.checkall span { margin-left: 20px; }
.kmchecked { position: absolute; left: 10px; top: 10px; padding-right: 5px; vertical-align: middle; border: initial; width: 13px; height: 13px; }
.shop { width: 208px; margin-right: 180px; }
.price { width: 160px; }
.num { width: 80px; }
.count { width: 140px; }
.action { width: 75px; }

.cart-box-main { margin: 20px 0; background-color:#fff4e8;  height: 107px; border-style: solid; border-width: 2px 1px 1px; border-color: #aaa #f1f1f1 #f1f1f1; }
.cart-box-main .shop-panel {}
.shop-panel .panel-item { padding: 15px 10px 10px 10px; }
.panel-item .item { float: left;  line-height: 20px; }
.panel-item .check-item { padding-right: 15px; }
.check-item input {}
.panel-item .goods-item {}
.item-img { padding-right: 10px;  }
.item-img a { display: block; float: left; }
.item-detail { width: 220px; padding-right: 15px; }
.item-detail .item-title {   overflow: hidden;  }
.item-title a {   }
.item-detail .item-promise { position: relative; overflow: hidden; margin-top: 21px; }
.item-promise .icon-promise { position: absolute; left: 0px; top: 0px; background: url(../images/cart-icons-new.png) no-repeat 0px -22px; width: 17px; height: 17px; }
.item-promise span { margin-left: 25px; }
.item-info { width: 100px; padding-right: 50px;  }
.item-info .item-color {}
.item-info .item-size {}
.item-price {  padding-right: 15px; width: 120px; }
.item-price .unit-prices {}
.item-price .reduce-prices {}
.item-num {width: 80px; text-align: center; padding-right: 36px; }
.item-num .num-form { position: relative; width: 80px; height: 22px;}
.num-form a { width: 17px; height: 18px; background: #fff; border:1px solid #cacbcb; line-height: 18px; text-align: center; }
.num-form .num-add { float: left; border-right: 0;}
.num-form .num-bd { text-align: center; border:1px solid #cacbcb; position:absolute; left: 18px; top: 0px;  ;width: 42px; height: 18px; line-height: 18px; }
.num-form .num-sub {float: right; border-left: 0;}
.item-stock {}
.item-total { padding-right: 35px; width: 100px; }
.item-total strong {}
.item-handle {}
.item-handle .item-delete { width: 60px; float: left;}
.item-handle a { color: #666; }
.item-handle a:hover { color: #e4393c; }

.cart-box-footer {  border:1px solid #f0f0f0; }
.cart-box-footer .foo { float: left; height: 52px; line-height: 52px; margin-right: 15px;}
.cart-box-footer .foo-checkall { padding-left: 10px; position: relative;}
.foo-checkall input { position: absolute; left: 10px; top: 20px; width: 13px; height: 13px;}
.foo-checkall span { margin-left: 20px; }
.cart-box-footer .foo-delete {}
.foo-delete a,.foo-focus a { color: #666; }
.foo-delete a:hover,.foo-focus a:hover { color: rgb(228, 57, 60); }
.cart-box-footer .foo-focus {}
.foo-focus a { color: #666; }
.cart-box-footer .foo-total { float: right;  width: 378px;}
.foo-total .foo-total-panel { float: left;  padding-right: 20px; }
.foo-total-panel .total-prices { padding-top:6px; color: rgb(153, 153, 153);}
.total-prices strong{ font-size: 16px; color: rgb(228, 57, 60); font-weight: 700; }
.total-prices a { color: rgb(153, 153, 153); }
.total-prices strong {}
.total-save { text-align: right; }
.foo-total .foo-total-btn { float: right;  }
.foo-total-btn a { width: 96px; height: 52px; display: block; background: url(../images/cart-submit-btn-new.png) no-repeat; }

.cart-love {}
.cart-love h3 {margin-bottom: 10px; }
.love-slide {}	
.slide-box {  }
.slide-item { margin-bottom: 10px; border: 1px dashed rgb(202, 202, 202) ; float: left; width: 206px; padding: 20px; margin:0px -1px 0px 0px; }
.slide-item-img { margin:0 auto;  width: 160px; }
.slide-item-name { height: 36px; line-height: 18px; margin: 5px 0; overflow: hidden; }
.slide-item-price { text-align: center; }
.slide-item-btn {  text-align: center; margin:10px 0 0; }
.slide-item-btn a {  width: 83px; position: relative; border:1px solid #999; display: inline-block; color: #666; height: 28px; line-height: 28px;  border-radius:3px; text-align: center; padding: 0px 0px 0px 0px;}
.slide-item-btn a b { position: absolute;  left: 5px; top: 5px; background: url(../images/addtocart-icons.png) no-repeat 0 -57px; width: 18px; height: 18px; margin-right: 5px; vertical-align: middle; }

